@model DotNetCoreWebApp.Models.PersonsViewModel

@{
    ViewData["Title"] = "Add Person";
}

<h1>Person</h1>

<form asp-controller="Person" asp-action="Add" method="post">
    <div class="form-group">
        <label>
            First name:
            <input type="text" class="form-control" asp-for="Forename" />
        </label>
        <span class="text-danger" asp-validation-for="Forename"></span>
    </div>
    <div class="form-group">
        <label>
            Surname:
            <input type="text" class="form-control" asp-for="Surname" />
        </label>
        <span class="text-danger" asp-validation-for="Surname"></span>
    </div>
    <div class="form-group">
        <label>
            Date of birth:
            <input type="text" class="form-control" asp-for="DateOfBirth" />
        </label>
        <span class="text-danger" asp-validation-for="DateOfBirth"></span>
    </div>
    <div class="button-group">
        <button type="submit" class="btn btn-default">Submit</button>
    </div>
</form>